*{
    padding: 0;
    margin: 0;
}
body{
    width:100vw;
    height:100vh;
    background: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.bgMusic{
    position: fixed;
    top: 3vw;
    left: 2vw;
    z-index: 99999;
    color: white;
}
.bgMusic .bgMuicController{
    width:16vw;
    overflow: hidden;
    cursor: pointer;
}
.bgMusic .bgMuicController .bgMuicController_animate{
    position: relative;
    left:0;
    opacity: 0;
}